.container {
  min-height: 100vh;
  background: rgb(243, 243, 243);
  &__wrapper {
    width: 80%;
    margin: auto;

    &__top {
      padding: 40px 0;
      &__title {
        font-size: 4rem;
        font-family: var(--sans-ff);
        text-transform: uppercase;
        letter-spacing: 2px;
        color: var(--black);
        position: relative;
        width: fit-content;
        &::after {
          content: "1101";
          position: absolute;
          top: 0;
          right: -30px;
          font-family: var(--sans-ff);
          font-size: 0.8rem;
          color: black;
        }
      }
    }

    &__grid {
      padding: 20px 0px;
      display: grid;
      row-gap: 2rem;
      width: 100%;
      height: 100%;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      grid-auto-rows: 500px;
      border-top: 1px solid black;
    }
  }
}
