.link {
  position: relative;
  transition: all 0.3s ease-in;
  font-size: 1rem;

  font-weight: lighter;
  margin-right: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--black);
  width: fit-content;
  &:hover {
    color: var(--white);
  }
}

.link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0px;
  background: var(--black);
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
  z-index: -1;
}

.link:hover::before {
  height: 100%;
}
