.slider {
  height: 100vh;
}
.slider__wrapper {
  background: #2b2b2b;
  height: 100vw;
  width: 100vh;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-x: hidden;

  &__horizontal {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
}
.slider__top {
  flex: 1;
}

.slider__bottom {
  flex: 4;
  display: flex;
  align-items: center;
}
