.about {
  height: 100vh;
  width: 90%;
  margin: 50px auto;
  opacity: 1;
  &.hide {
    opacity: 0;
  }
}

.about__title {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--dark-blue);
}

.about__content {
  text-align: justify;
  font-size: 1.7rem;
  line-height: 1.8;
  color: var(--mid-gray);
  > span {
    > span {
      opacity: 0;
    }
  }
}
