.contact {
  position: fixed;
  margin-bottom: 40px;
  margin-left: auto;
  width: 17%;
  top: 3%;
  left: 5%;
}

.contact__button {
  display: flex;
  align-items: center;
  background-color: var(--dark-blue);
  border: none;
  padding: 6px 10px;
  color: white;
  border-radius: 5px;
  transition: color 0.3s ease;
  transition: background-color 0.2s ease;
}

.contact__button__text {
  font-weight: 100;
  margin-left: 10px;
  text-transform: uppercase;
}

.contact__button__icon {
  font-weight: 100;
}

.contact__button:hover {
  background: white;
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
}
