.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: all 0.3s cubic-bezier(0.28, 1.01, 0.57, 0.36);

  &__wrapper {
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
    position: relative;
    border-radius: 9px;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    box-shadow: 0 0 30px white;
    transform: scale(1.1);
  }
  &__description {
    text-align: left;
    color: var(--light-gray);
  }
}
