.container {
  width: 300vw;
  height: 100vh;
  position: relative;
  background: #000;
  &.light--on {
    background: var(--gradient-transparent);
  }
  .right__arrow {
    position: absolute;
    left: 5%;
    top: 5%;
    color: var(--certain-white);
    &__icon {
      font-size: 3rem;
    }
  }
  &__lamp {
    position: absolute;
    top: 60px;
    right: 60px;
    &__icon {
      color: white;
      font-size: 3rem !important;
      &.hide {
        opacity: 0;
      }
    }
  }
  &__wrapper {
    &__title {
      position: absolute;
      font-size: 15rem;
      font-family: monoglyceride sans-serif;
      top: 33%;
      left: 20%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
      color: var(--certain-white);
      &.light--on {
        color: rgb(250 250 250);
        text-shadow: 0 0 4px var(--white);
      }
    }
    &__grid {
      display: grid;
      grid-template-columns: repeat(50, 4%);
      grid-template-rows: repeat(50, 4%);
      align-items: center;
      height: 100vh;
      width: 200vw;
    }
  }
}
@media screen and (max-width: 768px) {
  .container {
    display: none !important;
    .right__arrow {
      display: none;
    }
  }
}
