.header {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    &__space  {
      margin-top: 80px;
    }
    font-size: 7rem;
    letter-spacing: 20px;
    color: var(--dark-blue);
    overflow: hidden;
    span.line-reveal {
      transform: translateY(600px);
      background: red;
    }
  }
}
