.loading {
  width: 100vw;
  height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading__text {
  color: #fff;
  font-weight: lighter;
  > span {
    > span {
      opacity: 0;
    }
  }
}
