.navbar {
  position: fixed;
  top: 20px;
  right: 5%;
  z-index: 1000;
}

.navbar__container__btn {
  padding: 7px 7px 4px 7px;
  border: none;
  border-radius: 10px;
  background: none;
}

.navbar__container__btn__icon {
  color: var(--black);
  font-size: 2rem !important;
}

.navbar__list {
  position: absolute;
  transition: all 0.3s ease-in;
  color: var(--black);
  display: flex;
  align-items: center;
  left: -300vw;
  top: 50%;
  transform: translateY(-50%);
  &--expand {
    left: -46vw;
  }
}
