.navbar {
  position: fixed;
  top: 20px;
  right: 5%;
  z-index: 1000;
}

.navbar__container {
  position: relative;
}

.navbar__container__btn {
  padding: 7px 7px 4px 7px;
  border: 1px solid white;
  border-radius: 10px;
  background: var(--dark-blue);
  cursor: pointer;
}

.navbar__container__btn__icon {
  color: white;
}

.navbar__list {
  position: absolute;
  top: 0;
  right: 0;

  width: 200px;
  height: 200px;
}
