.container {
  height: 100vh;
  width: 100vw;
  z-index: 100000;
  position: absolute;
  transition: all 0.3s ease-in;
  &__top {
    width: 100%;
    padding: 22px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &__btn {
      border: none;
      background: none;
      &__icon {
        transform: rotate(-90deg);
        color: var(--white);
        cursor: pointer;
      }
    }
  }
  &__wrapper {
    background: var(--gradient-transparent);
    height: 100%;
    width: 100%;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    &__divider {
      position: absolute;
      top: 20%;
      height: calc(60%);
      width: 1px;
      left: 45%;
      right: 55%;
      background: var(--white);
    }

    .sidebar {
      position: absolute;
      right: 35px;
      top: 55%;
      transform: translateY(0%);
      &::before {
        content: "";
        position: absolute;
        background: var(--soft-blue);
        height: 100px;
        width: 1px;
        left: 50%;
        transform: translateX(-50%);
        top: -107px;
      }
      &::after {
        content: "";
        position: absolute;
        background: var(--soft-blue);
        height: 100px;
        width: 1px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -107px;
      }
      &__icons {
        display: flex;
        flex-direction: column;
        .icon {
          margin: 10px 0;
          cursor: pointer;
        }
      }
    }
  }
}

.bounce--animation-x {
  animation: bounceX 1s ease-in-out infinite alternate;
  @keyframes bounceX {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(10px);
    }
  }
}
