.left {
  flex: 1;
  height: 100%;
  position: relative;
  &__wrapper {
    &__code {
      position: absolute;

      width: 35px;
      height: 21px;

      font-family: var(--code-ff);
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 21px;

      color: var(--white);

      &:nth-of-type(1) {
        top: 2%;
        left: 2%;
        transform: rotate(-14.71deg);
      }
      &:nth-of-type(2) {
        transform: rotate(35.65deg);
        right: 24%;
        bottom: 18%;
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 15%;
      left: 7%;
      &__item {
        font-family: var(--sans-ff);
        font-weight: bold;
        letter-spacing: 10px;
        font-size: 40px;
        margin-bottom: 50px;
        color: var(--white);
        position: relative;
        width: fit-content;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 2%;
          background: white;
          height: 3px;
          transition: all 0.5s ease-in-out;
        }
        &:hover {
          &::before {
            content: "";
            width: 100%;
          }
        }
      }
    }
  }
}
