@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;300&family=Neonderthaw&display=swap");

.slider__item {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 100px;
  padding: 40px 20vw 40px 100px;
  position: relative;
}

.slider__item__wrapper {
  width: 80vw;
  height: 50vh;
  position: relative;
}

.slider__item__texts {
  position: relative;
  left: -50px;
  left: -92px;
  width: 100%;
}

.slider__item__title {
  margin-top: 20px;
  font-size: 4.8rem;
  font-family: "Advent Pro", sans-serif;
  color: white;
  font-style: italic;
  font-weight: 100;
}

.slider__item__subtitle {
  margin-top: 10px;
  font-size: 2.8rem;
  font-family: "Neonderthaw", cursive;
  color: white;
  font-style: italic;
  font-weight: 100;
}
